* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:Helvetica;
}    

header {
height: 10%;

}

h1 {
    color:white;
    text-align: center;
    padding: 4px;
    margin: 8px;
    letter-spacing: 5px;
    word-spacing: 10px;
    font-size: 3em;
    font-weight: bold;
    font-family: Helvetica;
}

body {
    background-color: #1D1F20;
    display: grid;
    place-items: center;
    height: 70%;

}


.container {
    height: 400px;
    width: fit-content;
    display: flex;
    align-items: center;
    flex-direction: row;
    align-content: space-around;
}


.container div{
    width: 100%;
    margin: 10px; 
    display: flex;
}

.button {
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: white;
    font-style: bold;
    font-family: 'Helvetica';
    font-size: 1rem;
    text-align:center;
    --borderWidth: 5px;
    background: rgb(35, 35, 36);
    position: relative;
    border-radius: var(--borderWidth);  
}

.button:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    animation: animatedgradient 3s ease infinite;
    background-size: 400% 400%;
  }
  
  
  @keyframes animatedgradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }

#ingreso, #salida {
    padding: 10px;
    margin: 10px;
    border:2px solid blue;
    border-radius: 5px;
    border-color: inherit;
}

footer {
    display: flex;
    font-style: Helvetica rounded;
    font-weight: bold;
    font-size: 14px;
    color: white;
    padding: 10px;
    margin: 10px;
    border:2px solid blue;
    border-radius: 5px;
    border-color: inherit;
    height:20%;

}

.buttons {
    height: 200px;
    padding: 4 px;
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    justify-content: center;
    flex-wrap: wrap;
    align-content: space-between;
}